body
{
    font-size: 90%;
    background-color: lightgray;
    margin: 0px;
}

main
{
    max-width: 940px;
    min-width: 720px;
    min-height: 500px;
    background-color: lightgreen;
    margin:0px auto 0px auto;
    border: 15px solid;
  
}

p
{ 
    background-color: gold;
    margin: 0px;
    border: 25px solid gray;
    float:left;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: line-through;
    line-height: 1.1em;
    word-spacing: 1em;
    text-align: right;
    /* opacity: 0.5; */
  
    
}

#box1, #box2, #box3 
{
    margin: 4px auto 4px auto;
    max-width: 112px;
    max-height: 125px;
    overflow: scroll;
}

li
{
    display: inline;
}