/*
*      called a reset, sets all margin and padding to zero "zeros everything out"
{
    margin:0;
    padding:0;
}
*/

body 
{
    background-color: lightsteelblue;
    color: green;
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em; /* common in css to make responsive*/
    margin:0; /* common in CSS - makes things easier*/

    }
 
a{ 
    text-decoration: none;
    color:rgb(8, 8, 8);

} /* affects all links globally*/

a:hover{ 
    color: pink;

} /* affects what happens to style when hovering*/

a:vsited{ 
    color:yellow;

}/* affects what happens to style when visited*/

.container
{
    width:80%;      /* use % when dealing with containers, makes responsive */  
    margin:auto;    /* even space on both sides */

} /* common in CSS to create a container for the page, it holds the content*/

.clear{ 
    clear: both  
}  /* this is important because it clears the float after being used*/

.box1
{

    background-color: lightgray;
    border: 5px goldenrod solid;

    padding: 20px;
    margin-top: 25px; /*moves the box down*/
}

.box1 h1{     

    font-weight:lighter;
    font-style: italic;
    text-decoration: underline;

}/*styles any h1 in the box1 div*/

.box2 {

    background-color: lightyellow;
    border: 5px dotted orangered;
    padding: 20px;
    margin-top: 25px;
}

.categories 
{
    border: 1px black solid;
    padding: 10px;
} /* remember this is the div around the list items not the items themselves*/

.categories h2{
    color: darkblue;
    text-align: center;

}

.categories ul{   

    padding: 15px;
    list-style: square; /* affects the look of the bullets*/
} /* the dots for the list go outside the border if zero padding?*/

.categories li {
    padding: 8px;
    border: dotted 2px gray;

}

.myForm{

        padding:20px 0px;
        border: black 3px solid;
        color: black;

}

label{

    display:block;
}

input {

    width:80%;
    padding:8px; /* padding around content in the text field */
    
}

.button{
    background-color: black;
    color: white;
    border: none;
    width: 10%;
}

textarea{

    width: 80%;
    padding: 8px;
}

.block{
    border: black 2px solid;
    float: left;  /* on its own wont put them in the same line because they are default 100%*/
    width: 30%; /* this is needed to reduce the width of the divs so they can line up */
    padding: 20px; /* this will mess everything up because it is adding 10px to elements that already make up 90% of container*/
    box-sizing:border-box; /* this takes in padding and applies it to the width, flexbox deals with this stuff*/

    /*any element below the float needs to be cleared or it will be floated too*/

}

#mainBlock{

    border: black 2px solid;
    float: left;
    width: 70%;
}

#sideBlock{

    border: black 2px solid;
    float: right;
    width: 20%;
}

/* POSITIONING - has lots of values, default is static meaning rendering the boxes in document flow*/ 

.pBox{

    width: 800px;
    height: 500px;
    border: black 21px solid;
    margin-top: 20px;
    position: relative;  /*add comment here*/
    background-image:url(bgimage.jpg);
    background-position: 100px 200px;
    background-repeat: no-repeat;
    }   

.pBox h1{
 
    position: absolute;  /*positions element in relation to containing element. Taken out of normal flow*/
    top: 100px;
    left: 200px
}

.myList li:first-child{ 
    background: red;
}  /* formats the first child under an element*/

.myList li:last-child{
    background: gray;
} /* formats the last child under an element*/

.myList li:nth-child(5){
    background: lightyellow;
} /* formats the nth child under an element*/

.myList li:nth-child(even){
    color: lightyellow;
} /* formats the even child under an element*/


/* LAYOUT */

