body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em ;
    font-size:16px ;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader {
    background-color: coral ;
    color: white;
}

#mainNav{
background-color:#333;
color: #fff;
}

#mainNav ul{
    list-style: none;
    padding: 0;
}

#mainNav li{
    display: inline;
    padding: 3px;
    font-size: 18px;
}

#showcase{
    background-image: url(showcase.jpg);
    min-height: 250px;
    width: 100%;
    margin-bottom: 25px;
    text-align: centre;
   }

#showcase h2{
    color:purple;
    font-size: 50px;
    line-height: 1.6;
    padding-top: 30px;

}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#mainFooter{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}

/* learn media queries to change layout if viewport is x*/